* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fixed width container class that will "auto-center" itself */
.container {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}


.btn {
    margin: 20px;
    padding: 5px;
}
#add { border-radius: 50%; background-color: rgb(10, 224, 152);border: none; text-align: center; color: white; font-size: medium; font-weight: bold; width: 30px;}

#search { background-color: white; border-radius: 50px; border-color: rgb(10, 224, 152); color: rgb(10, 224, 152); border-width: 1.5px; font-family:sans-serif; box-shadow: none; padding: 5px 20px 5px 20px;}

#create {background-color: dodgerblue; color: white; box-shadow:  2px 2px black; border: 1px  solid black;}