* {margin: 20px 20px 20px 20px; }
#search { background-color: white; border-radius: 50px; border-color: rgb(10, 224, 152); color: rgb(10, 224, 152); border-width: 1.5px; font-family:sans-serif; box-shadow: none; padding: 5px 20px 5px 20px;}

input[type=submit] { background-color: dodgerblue; color: white; box-shadow:  2px 2px black; border: 1px  solid black;}

#add { border-radius: 50%; background-color: rgb(10, 224, 152);border: none; text-align: center; color: white; font-size: medium; font-weight: bold;}